*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(255, 0, 0, 0.581), white, rgba(0, 128, 0, 0.457), rgba(0, 0, 255, 0.474),rgba(0, 128, 0, 0.563),lightblue, rgba(255, 0, 0, 0.474));
}

.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
    text-align: center;
}
h1{
    font-size: 2.1em;
    font-family: cursive;
}
span{
    font-size: 2em;
    font-family: cursive;
}
button{
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    margin: 1rem;
}